* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 300px;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.headerText {
  width: 50%;
  color: white;
  font-size: 42px;
  font-weight: 600;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  animation: headerText 1s ease-in-out 3.5s;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.headerText span {
  display: block;
}

#text1 {
  animation: text 1s ease-in-out 1s;
}

#text2 {
  animation: text 1s ease-in-out 1.5s;
}

#text3 {
  animation: text 1s ease-in-out 2s;
}

#text4 {
  animation: text 1s ease-in-out 2.5s;
}

@keyframes headerText {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes text {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}